h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

.does-not-exist {
    font-size: 50px;
    margin-top: 50px;

    color: red;

    font-weight: bold;

    text-transform: uppercase;
}

.albums_wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 20px;

    align-items: center;

}

.albums_wrapper > p {
    text-align: center;

    font-size: 30px;
}
