p {
    color: #FFFFFF;
    font-size: 25px;

    margin-top: 10px;

    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body a {
    text-decoration: none;
    color: #7392FF;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    margin-top: 25px;
}