* {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;

    color: black;
}

html, body {
    height: 100%;
}

header {
    background-color: #00C1DB;

    display: flex;

    justify-content: space-between;

    padding: 5px 20px;
}

input {
    border: 0px;
    padding: 20px;
}

input[type="text"] {
    background-color: #9D9D9D;

    background-color: #9D9D9D;

    margin-top: 5px;

    font-size: 20px;
}

input[type="submit"] {
    background-color: #29C55E;
    text-transform: uppercase;
    color: #FFFFFF;

    cursor: pointer;

    font-size: 30px;
}

body {
    background-color: black;
}