* {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    text-transform: uppercase;

    color: black;
}

p, h1, h2, h3, h4, h5, h6, a, label {
    color: white;
}

.description {
    text-align: center;
}

.albums, .photos {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.album, .photo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;

    width: 200px;
    height: 200px;
}

.album p, .photo p{
    margin-top: 15px;
    font-size: 25px;
    width: inherit;
    text-align: center;
    word-wrap: break-word;
}

.preview {
    width: 207px;
    height: 170px;
}

textarea {
    resize: none;
    height: 200px;
}

input, textarea{
    border: 0px;
    padding: 20px;
}

input[type="text"], textarea {
    background-color: #9D9D9D;

    margin-top: 5px;

    font-size: 20px;
}

input[type="submit"] {
    background-color: #29C55E;
    text-transform: uppercase;
    color: #FFFFFF;

    cursor: pointer;

    font-size: 30px;
}

body {
    background-color: black;
}

.create, .delete {
    color: black;
}

.create {
    padding: 20px;
    background-color: #00FF19;

    transition: all 0.2s ease-out;
}

.create:hover {
    background-color: black;
    color: #00FF19;
}

.delete {
    padding: 20px;
    background-color: #DE9797;

    transition: all 0.2s ease-out;
}

.delete:hover {
    background-color: black;
    color: #DE9797;
}

.error {
    position: absolute;

    top: -1000px;
    left: 50%;

    transform: translateX(-50%);

    background-color: black;

    font-size: 40px;

    border: 1px solid white;

    padding: 20px;

    color: white;

    text-align: center;

    animation: slidein 1s;
    animation-fill-mode: forwards;
}

.slideout {
    animation: slideout 1s;
}

@keyframes slidein {
    from {
        top: -200px;
    } to {
        top: 50px;
    }
}

@keyframes slideout {
    from {
        top: 50px;
    } to {
        top: -1000px;
    }
}